#chiSiamo {
    color: rgb(241, 120, 33);
    margin: 30px auto;
    width: 150px;
    font-size: x-large;
    font-weight: bold;
}

#scritta {
    margin: 30px auto;
    font-size: large;
    width: 50%;
}

.imgFoto {
  object-fit:cover;
  border-radius: 50px;
}
.Foto{
    width: 200px;
    height: 200px;
}


.colori {
    border-radius: 50px;
    border-color: rgb(241, 120, 33);
    border-style: solid;
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.Dati{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}