body {
  margin: 0;
  padding: 0;

  color: #000;
  height: 100vh;
  background-color: #ddd;
  z-index: -10000;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: gray;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #000000;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: rgba(241, 120, 33, 0.792);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
  transform: none;
}

nav {
  height: 125px;
  border-bottom: solid rgb(241, 120, 33) 3px;
}

.card {
  width: 250px;
  border-radius: 10%;
  border: 1px solid #aaaaaa;
  margin: 20px;
}

.card:hover {
  opacity: 0.8;
}

.name {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.brand {
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  border-radius: 10%;
}

.name {
  font-weight: bold;
}

.descr {
  font-size: 12px;
  max-height: 35px;
  overflow: hidden;
}


span {
  margin-left: 15px;
}

.carello {
  text-align: center;
}

.img_carrello {
  width: 50px;
  height: 50px;
}

.prezzo {
  font-size: 15pt
}

.quantità {
  width: 30px;
  height: 20px;
  display: flex;
}

.text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img_logo {
  width: 100px;
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: -50;
}

#utente {
  width: 100px;
  height: 30px;
  margin: 30px auto;
  z-index: 500;
  font-size: large;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sfondo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.475);
  z-index: 800;
  overflow-y: hidden;
}

#popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  font-size: large;
}

.img_popup {
  height: 60%;
  margin: 20px;
}

.button {
  display: flex;
  justify-content: space-around;
}

.prodotti {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.img_card {
  width: 200px;
  height: 250px;
  object-fit: contain;
}

.btn-primary
{
  background-color: rgb(255,164,89);
  border-color: rgb(255,164,89);
}

#aggiungi_btn
{
  background-color: transparent;
  border: 0;
  font-size: 22px;
  cursor: pointer;
  color: #232323;
  transition: color 0.3s ease;
}

#aggiungi_btn:hover {
  color: gray;
}