.prodotti {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
}

.card {
    width: 250px;
    border-radius: 10%;
    border: 1px solid #aaaaaa;
    margin: 20px;
}

.card:hover {
    opacity: 0.8;
}

.name {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
}

.brand {
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border-radius: 10%;
}

.name {
    font-weight: bold;
}

.descr {
    font-size: 12px;
    max-height: 35px;
    overflow: hidden;
}


span {
    margin-left: 15px;
}

.carello {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_carrello {
    width: 50px;
    height: 50px;
}

.prezzo {
    font-size: 15pt
}

.quantità {
    width: 30px;
    height: 20px;
    display: flex;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.img_logo {
    width: 100px;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: -50;
}

#utente {
    width: 100px;
    height: 30px;
    margin: 30px auto;
    z-index: 500;
    font-size: large;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
}

.sfondo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.475);
    z-index: 800;
    display: none;
    overflow-y: hidden;
}

#popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    font-size: large;
}

.img_popup {
    height: 60%;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: space-around;
}

.prodotti {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
}

.img_card {
    width: 150px;
    height: 200px;
    object-fit: contain;
}